name: Build and upload Mender Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  MENDER_SERVER_URL: https://hosted.mender.io           # Mender server URL
  MENDER_ARTIFACT_NAME: artifact.mender                 # Mender artifact name
  MENDER_RELEASE_NAME: change-the-world-to-better-v1.0  # Mender release name
  ARTIFACTS_LIST_FILE_NAME: artifacts_list.json

jobs:
  upload:
    runs-on: ubuntu-latest
    # conrainer with pre-installed mender-artifact and mender-cli tools
    container:
      image: mendersoftware/mender-ci-tools:mender-master
    name: Upload a dummy Mender Artifact
    steps:
      # Checkout git repository
      - uses: actions/checkout@v3
      - name: Setup environment
        shell: bash
        run: |
          apt-get update && apt-get install -y jq
          # secrets are not passed to the runner when a workflow is triggered from a forked repository
          # https://docs.github.com/en/actions/security-guides/encrypted-secrets#using-encrypted-secrets-in-a-workflow
          if [[ -z "${{ secrets.MENDER_SERVER_ACCESS_TOKEN }}" ]]; then
            echo "ERROR: MENDER_SERVER_ACCESS_TOKEN is empty."
            exit 1
          fi
      # Creates Mender Artifact
      - name: Create Mender Artifact
        shell: bash
        run: |
          echo key > authorized_keys
          single-file-artifact-gen \
            --device-type raspberrypi4 \
            -o ${MENDER_ARTIFACT_NAME} \
            -n ${MENDER_RELEASE_NAME} \
            --software-name authorized_keys \
            --software-version 1.0 \
            --dest-dir /home/root/.ssh \
            authorized_keys
      - name: Upload Mender Artifact to Mender server
        id: artifact
        uses: ./
        with:
          mender_pat: ${{ secrets.MENDER_SERVER_ACCESS_TOKEN }}
          mender_artifact: ${{ env.MENDER_ARTIFACT_NAME }}
          mender_uri: ${{ env.MENDER_SERVER_URL }}
      - name: Check if the artifact exists on the Mender server
        shell: bash
        run: |
          curl -s -X GET ${MENDER_SERVER_URL}/api/management/v1/deployments/artifacts/list \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${{ secrets.MENDER_SERVER_ACCESS_TOKEN }}" > ${ARTIFACTS_LIST_FILE_NAME}
          if ! cat ${ARTIFACTS_LIST_FILE_NAME} | jq '.[].name' | grep -q ${MENDER_RELEASE_NAME}; then
            echo "ERROR: the artifact is missing on the server"
            exit 1
          fi
      - name: Cleanup
        if: always()
        shell: bash
        run: |
          if [ -f ${ARTIFACTS_LIST_FILE_NAME} ]; then
            artifact_id=$(cat ${ARTIFACTS_LIST_FILE_NAME} | jq ".[] | select(.name == \"${MENDER_RELEASE_NAME}\")" | jq -r '.id')
            curl -i -s -X DELETE https://hosted.mender.io/api/management/v1/deployments/artifacts/${artifact_id} \
              -H "Accept: application/json" \
              -H "Authorization: Bearer ${{ secrets.MENDER_SERVER_ACCESS_TOKEN }}"
          fi

